/* Colors
#F6AB02 - orange
#DF010C - red
#000000 - black
#FFFFFF - white
#FAD403 - yellow
#F39801 - other orange
#C20C19 - darker red
*/

body{
	margin: 0px;
}

.grid-container {
	margin: auto; /* center the wrapper */
	
	/* Declare the grid container */
	display: grid;
	grid-template-columns: 1fr, 2fr, 1fr;
	grid-template-rows: auto, auto, auto;
	grid-gap: 0px;

}

/* grid-item class, sets defaults for the grid classes */
.grid-item {
	text-align: center;
}

/* Class for logo, sets grid area */
.logo {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 10px;
	background-color: #DF010C;
}

/* Class for banner, sets grid area */
.banner {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 50px;
	padding: 30px;
	background-color: #DF010C;
	color: #FFFFFF;
}

/* Class for search_bar, sets grid area */
.search_bar {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: #DF010C;
}

/* Class for nav_bar, sets grid area */
.nav_bar {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 10px;
	color: #FFFFFF;
	background-color: #F39801;
}

.login_bar {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 10px;
	color: #FFFFFF;
	background-color: #F39801;
}

.admin_bar {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 10px;
	color: #FFFFFF;
	background-color: #F39801;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

a{
	color: #000000;
	text-decoration: none;
    border: 1px solid rgb(000,000,000);
    border-radius: 15px;
    margin-left: 7px;
	margin-right: 7px;
    padding: 5px;
}

/* Class for anchor_bar, sets grid area */
.anchor_bar {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 10px;
	color: #F6AB02;
	background-color: #000000;
}

.anchor_bar a {
	color: #F6AB02;
	border: 1px solid #F6AB02;
}

.anchor_bar a:hover{
	color: #FFFFFF;
	text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    margin-left: 7px;
	margin-right: 7px;
    padding: 5px;
}

a:hover{
	color: #FFFFFF;
	text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    margin-left: 7px;
	margin-right: 7px;
    padding: 5px;
}

/* Class for content, sets grid area */
.content {
	background-color: #FFFFFF;
}

/* Class for home_content, sets grid area */
.home_content {
	background-color: #FFFFFF;
}

.footer_grid{
	display: grid;
	grid-template-columns: 1fr, 2fr, 1fr;
	grid-template-rows: auto;
	grid-gap: 0px;
	bottom: 0;

}

/* Class for footer, sets grid area */
.footer {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	text-align: left;
	padding: 8px;
	background-color:#000000;
	color: #FFFFFF;
	
}

/* Class for event content, sets flex box */
.event-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 7px;
}

.event-column {
	text-align: left;
	width: 170px;
}

.team-info-column{
	width: 160px;
}

/* Class for team information, sets flex box */
.team-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
	column-gap: 8px;
	height: 180px;
	background-color: #F39801;
	border: solid;
	border-width: 5px;
	border-color: #DF010C;
	border-radius: 20px;
	outline: 2px solid #000000;
}

/* Class for team content, sets flex box */
.team-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	row-gap: 7px;	
}

.admin_content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	row-gap: 10px;
}

form{
	margin-bottom: 0px;
}

p{
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 197px;
}

header{
	padding: 5px;
	font-size: 30px;
}

.event_button{
	color: #F6AB02;
	border: 1px solid #F6AB02;
	background-color: #000000;
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
}

.event_button:hover{
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	background-color: #000000;
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
}

.login-content{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
}

h1{
	margin: 0px;
	margin-bottom: 5px;
	text-align: center;
}

.login-box{
	background-color: #F39801;
	border: solid;
	border-width: 5px;
	border-color: #DF010C;
	border-radius: 20px;
	outline: 2px solid #000000;
	padding: 7px;
}

.admin_box{
	border: solid;
	border-width: 5px;
	border-radius: 20px;
	outline: 2px solid #000000;
	padding: 7px;
}

.search_bar{
	padding: 10%;
}

.admin_button{
    cursor: default;
    background-color: #FFFFFF;
    padding-block: 1px;
	border-radius: 10px;
	color: #000000;
	border-color: #000000;
	border-width: 2px;
	margin: 2px;
}

.admin_button:hover{
	cursor: default;
    background-color: #F6AB02;
    padding-block: 1px;
	border-radius: 10px;
	color: #000000;
	border-color: #000000;
	border-width: 2px;
	margin: 2px;
}
