/* Colors
#F6AB02 - orange
#DF010C - red
#000000 - black
#FFFFFF - white
*/

body{
	margin: 0px;
}

.grid-container {
	margin: auto; /* center the wrapper */
	
	/* Declare the grid container */
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr repeat(2, 0.5fr) repeat(2, 1fr) 0.5fr;
	grid-gap: 0px;

}

/* grid-item class, sets defaults for the grid classes */
.grid-item {
	text-align: center;
}

/* Class for logo, sets grid area */
.logo {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 10px;
	background-color: #DF010C;
}

/* Class for banner, sets grid area */
.banner {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 50px;
	padding: 30px;
	background-color: #DF010C;
	color: #FFFFFF;
}

/* Class for search_bar, sets grid area */
.search_bar {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: #DF010C;
}

/* Class for nav_bar, sets grid area */
.nav_bar {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #F6AB02;
	padding: 20px;
	color: #FFFFFF;
}

a{
	color: #000000;
	text-decoration: none;
}

/* Class for anchor_bar, sets grid area */
.anchor_bar {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: #F6AB02;
}

/* Class for content, sets grid area */
.content {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 6;
	background-color: #FFFFFF;
}

/* Class for home_content, sets grid area */
.home_content {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 3;
	grid-row-end: 6;
	background-color: #FFFFFF;
}

/* Class for footer, sets grid area */
.footer {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 6;
	grid-row-end: 7;
	text-align: left;
	padding: 8px;
	background-color:#000000;
	color: #FFFFFF;
}

/* Class for event content, sets flex box */
.event-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.event-column {
	text-align: left;
}

.team-info-column{
	width: 160px;
}

/* Class for team information, sets flex box */
.team-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
	column-gap: 8px;
	
}

/* Class for team content, sets flex box */
.team-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	
}

form{
	margin-bottom: 0px;
}
